
@{
    ViewBag.Title = "CheckEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div style="height: 300px; margin-top: 100px" class="row">
        <h2>Vui lòng kiểm tra email để hoàn thành đăng ký</h2>
    </div>
</div>

