@{
    ViewBag.Title = "Confirm Email";
}



<div class="container">
    <h2>HOÀN TẤT ĐĂNG KÝ</h2><br />
    <div style="height: 300px" class="row">
        <p>
            Cảm ơn bạn đã đồng hành với chúng tôi. Vui lòng bấm vào đường link sau để đăng nhập @Html.ActionLink("Bấm vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
