
@{
    ViewBag.Title = "TThongBaoLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div style="height: 300px; margin-top: 100px; display: block" class="row">
        <h2>Tài khoản chưa xác thực email, vui lòng kiểm tra email để hoàn tất đăng ký</h2>
        <br />
        <a style="font-size: 20px" href="@Url.Action("Login", "Account")">Quay lại</a>
    </div>
</div>

