
@{
    ViewBag.Title = "UpdateInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height: 400px; margin-top: 30px" class="container">
    <div style="display: block" class="row">
        <h2 style="margin-left: 20px">Cập nhật thành công</h2><br />
        <a style="margin-left: 20px; display: block" href="@Url.Action("Info", "Manage")">Quay lại</a>
    </div>
</div>

