
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 400px; margin-top: 50px" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Đặt hàng thành công, vui lòng check email</h2>
            <p>
                @Html.ActionLink("Quay về trang chủ", "Index", "Home")
            </p>
        </div>
    </div>
</div>

