
@{
    ViewBag.Title = "SendFeedBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 400px" class="container">
    <div class="row">
        <h2 style="margin-top: 40px; padding-left: 10px">Gửi phản hồi thành công</h2>
    </div>
</div>

